/* css styles */

/* FONTS */

h1 {
  font-size: 40px;
  color: black;
}

h2 {
  border-bottom: 2px solid #F1B82D;
}


/* FIGURES */

figure > figcaption {
    margin-top: 0em;
    color: gray;
    text-align: center;
    font-size: 15px;
    }
    
 figure {
   padding-top: 0.5em;
 }
 
 figure img {
    width: 100%;
    border: solid #dee2e6;
 }

/* SLIDES */

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* TABLES */

table td:nth-child(1)  {
  width: 30%;
}

/* NAVBAR */

.navbar-brand.navbar-brand-logo {
  margin-right: 0px;
  margin-left: 12px;
  display: inline-flex;
  width: 40px;
  filter: invert(90%) sepia(11%) saturate(5826%) hue-rotate(336deg) brightness(100%) contrast(90%);
}

.navbar-brand.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  /*color: #F1B82D;*/
  text-decoration: underline;
  color: #fff;
  }
  


/* Navbar - MOBILE ONLY */

@media (max-width: 991.98px) {
  
  .navbar {
      padding-left: 0 !important;
	    padding-right: 0 !important;
    }
  
  /* Social media icons */
  ul.navbar-nav:nth-child(1) .nav-link {
    font-size: 1.1rem;
      }
      
      .aa-SubmitIcon {
        width: 26px;
        height: 26px;
        margin-top: -0.1em;
      }
      
    ul.navbar-nav:nth-child(1) {
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    }
    
    .navbar-container {
      flex-direction: row-reverse;
    }
      
    .navbar-brand-container {
      max-width: 100%;
    }
  
    .quarto-navbar-tools {
      display: none !important;
    } 
}

  
/* SIDEBAR */
.sidebar-item .sidebar-item-container {
  color: black;
  padding-top: 8px;
}

.bi-question-circle-fill {
    padding-right: 5px;
    }
    
.sidebar-logo {
  border-radius: 20px;
  box-shadow: 0 0 5px lightgray;
}

@media (max-width: 991.98px) {
  #quarto-sidebar .sidebar-menu-container {
    white-space: revert !important;
  }
}

/* FOOTER */

.nav-footer {
  padding-top: 20px;
}


@media (max-width: 1000px) {
  

.nav-footer {
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

  .nav-footer-center {
    margin-top: 1em;
  }
  
}